.ui-class--selected {
	background: green;
}

.ui-class--available{
	background: yellow;
}
.ui-class--blocked {
	background: red;
}

/*UNAVAILABLE TIME SLOT*/
.ui-bar-e{
	background: red;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/*AVAILABLE TIME SLOT*/
.ui-bar-f{
	background: blue;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/*PICKED TIME SLOT*/
.ui-bar-g{
	background: green;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/*TIMETABLE Room & Room Numbers*/
.ui-table--header{
	height: 2em;
	width: 2.2em;
	text-align: left;
}

/*TIMETABLE All Non-header Cells*/
.ui-table--slot{
	height: 2.5em;
	width: 2.2em;
	text-align: left;
}